<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/training_college</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="current_session_context_class">thread</property>
        <property name="packagesToScan">cn.edu.nju.trainingsystem.entity</property>
        <mapping class="cn.edu.nju.trainingsystem.entity.Clazz"/>
        <mapping class="cn.edu.nju.trainingsystem.entity.DropRecord"/>
        <mapping class="cn.edu.nju.trainingsystem.entity.EnrollRecord"/>
        <mapping class="cn.edu.nju.trainingsystem.entity.GradeRecord"/>
        <mapping class="cn.edu.nju.trainingsystem.entity.InstitutionPayment"/>
        <mapping class="cn.edu.nju.trainingsystem.entity.Student"/>
        <mapping class="cn.edu.nju.trainingsystem.entity.Expense"/>
        <mapping class="cn.edu.nju.trainingsystem.entity.Institution"/>
        <mapping class="cn.edu.nju.trainingsystem.entity.Apply"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>