<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>南大青鸟培训机构</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/student/home">基本信息</a></li>
                        <li><a href="/course/all">选课</a></li>
                        <li><a href="/course/selected">退课</a></li>
                        <li><a href="#">统计信息</a></li>
                        <li class="active"><a href="#">修改信息</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h2>修改个人信息</h2>
        <div>
            <form action="/student/editInfo" method="post">
                姓名：<br/>
                <input type="text" name="name" id="name" th:value="${stu.name}"/>
                <br/>
                密码：<br/>
                <input type="password" name="password" id="password" value="***"/>
                <br/>
                绑定银行卡：<br/>
                <input type="text" name="bankcard" th:value="${stu.bankCard}" id="bankcard"/>
                <br/>
                <input type="submit" value="修改"/>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>