<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>南大青鸟培训机构</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/institution/home">开班申请</a></li>
                        <li><a href="/institution/courseList">修改班级信息</a></li>
                        <li><a href="/institution/grade/register">成绩登记</a></li>
                        <li><a href="/institution/withdraw">退课登记</a></li>
                        <li><a href="/institution/payment">学员结账</a></li>
                        <li class="active"><a href="#">统计信息</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <h2>本机构选课记录</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>课程编号</th>
                <th>学员编号</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${model.enrollRecords}">
                <td th:text="${course.classId}"></td>
                <td th:text="${course.studentId}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>本机构退选记录</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>课程编号</th>
                <th>学员编号</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${model.dropRecords}">
                <td th:text="${course.classId}">课程名称</td>
                <td th:text="${course.studentId}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>学员成绩情况</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>课程名称</th>
                <th>学员姓名</th>
                <th>成绩</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ex : ${model.gradeRecords}">
                <td th:text="${ex.className}"></td>
                <td th:text="${ex.studentName}"></td>
                <td th:text="${ex.grade}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>机构余额</h2>
    <span th:text="${model.balance}"></span>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>