<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>南大青鸟培训机构</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">机构注册</a></li>
                        <li><a href="#">审批机构申请</a></li>
                        <li><a href="/student/analysis">统计信息</a></li>
                        <li><a href="/student/basicInfo">财务情况</a></li>
                        <li><a href="/course/all">结算</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-offset-3">
            <h1>机构注册</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-offset-3">
            <form role="form" id="form_login" method="post" action="/institution/register">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user">机构名称</i>
                        </div>
                        <input type="text" class="form-control" name="name" id="name"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-key">机构密码</i>
                        </div>
                        <input type="password" class="form-control" name="password" id="password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user">启动资金</i>
                        </div>
                        <input type="text" class="form-control" name="balance" id="balance"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user">负责人</i>
                        </div>
                        <input type="text" class="form-control" name="manager" id="manager"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-login" id="actionBtn">
                        <i class="fa fa-sign-in"></i>
                        注册
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>