<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>南大青鸟培训机构</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/manager/home">机构注册</a></li>
                        <li><a href="/manager/examine">审批机构申请</a></li>
                        <li><a href="/manager/analysis">统计信息</a></li>
                        <li><a href="/manager/finance">财务情况</a></li>
                        <li class="active"><a href="#">支付结算</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h2>会员卡支付结算</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>机构编号</th>
                <th>金额</th>
                <th>选择</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pay : ${model}">
                <td th:text="${pay.institutionId}"></td>
                <td th:text="${pay.payment}"></td>
                <td><input type="checkbox" name="chk" th:value="${pay.id}+':'+${pay.payment}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6 col-md-offset-5">
        <button class="btn btn-default" id="actionBtn">结算</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="js/jquery.min.js"></script>
<script>
    $('#actionBtn').bind("click", function () {
        var list = new Array();
        $('input[type="checkbox"][name="chk"]:checked').each(
            function () {
                list.push($(this).val());
            }
        );

        $.ajax("/manager/pay/" + list, {
            type: 'POST',
            success: function (data) {
                alert(data.msg);
                location.reload();
            },
            error: function () {
                alert("出错了！！:");
            }
        });
    });
</script>
</body>
</html>