<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>南大青鸟培训机构</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/student/home">基本信息</a></li>
                        <li><a href="/course/all">选课</a></li>
                        <li><a href="/course/selected">退课</a></li>
                        <li class="active"><a href="#">统计信息</a></li>
                        <li><a href="#">修改信息</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h2>曾经选过的课程</h2>
        <div>

        </div>
        <h2>曾经退选过的课程</h2>
        <div>

        </div>
        <h2>消费记录</h2>
        <div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>