<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>南大青鸟培训机构</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/student/home">基本信息</a></li>
                        <li><a href="/course/all">选课</a></li>
                        <li><a href="/course/selected">退课</a></li>
                        <li class="active"><a href="#">统计信息</a></li>
                        <li><a href="/student/basicInfo">修改信息</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h2>曾经选过的课程</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>课程名称</th>
                    <th>开始日期</th>
                    <th>结束日期</th>
                    <th>授课老师</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${model.enrollRecordList}">
                    <td th:text="${course.courseName}">课程名称</td>
                    <td th:text="${course.startTime}">开始日期</td>
                    <td th:text="${course.endTime}">结束日期</td>
                    <td th:text="${course.teacher}">授课老师</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>曾经退选过的课程</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>课程名称</th>
                    <th>开始日期</th>
                    <th>结束日期</th>
                    <th>授课老师</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${model.dropRecordList}">
                    <td th:text="${course.courseName}">课程名称</td>
                    <td th:text="${course.startTime}">开始日期</td>
                    <td th:text="${course.endTime}">结束日期</td>
                    <td th:text="${course.teacher}">授课老师</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>消费记录</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>花销</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ex : ${model.expenseList}">
                    <td th:text="${ex.date}">时间</td>
                    <td th:text="${ex.expense}">花销</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>